*,
*::before,
*::after {
	box-sizing: border-box;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 16px;
}

.padding {
	padding: 5rem 0;
}

.img-responsive {
	width: 100%;
}

a {
	text-decoration: none;
	display: inline-block;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.none {
	display: none;
}

.btn {
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: 500;
	padding: 1rem 2rem;
	margin-top: 10px;
	color: #484338;
	border: 1px solid #a58251;
}

/* 
    ========== margins ===========
    mt - margin-top
    mb - margin-bottom
    ml - margin-left
    mr - margin-right

    mr-2 - margin-right: 2rem;
*/

.mt-6 {
	margin-top: 6rem;
}

.m-1 {
	margin: 1rem;
}

// padding

.pr-2 {
	padding-right: 2rem;
}

.pl-2 {
	padding-left: 2rem;
}

.p-3 {
	padding: 3rem;
}

.p-2 {
	padding: 2rem;
}
