.header {
	background: linear-gradient(
			to right,
			rgba($bg-header, 0.95),
			rgba($bg-header, 0.95)
		),
		url(/assets/images/0.5x/Asset-2.png);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

.nav {
	flex-grow: 1;

	a {
		font-family: $nav-font;
		font-size: 1.1rem;
		font-weight: 700;
		color: #fff;
		padding: 2.1rem 2rem;

		&:hover {
			border-top: 5px solid #ffda6b;
			border-bottom: 2px dashed #ffda6b;
			color: #ffda6b;
		}
	}
}

.nav-items {
	justify-content: space-between;

	.logo {
		padding: 6px 0;

		&:hover {
			border: none;
		}
	}
}

.hamburger-menu,
.logo-mobile {
	display: none;
}

.register {
	position: absolute;
	top: 25px;
	right: 1rem;
	color: #fff;
	font-size: 1.5rem;
	width: 40px;
	height: 40px;
	background-color: $bg-header;
	border: 1px solid rgb(215, 216, 161);
	border-radius: 10px;
	display: inline-flex;
	justify-content: center;
	align-items: center;

	&:hover {
		color: $text-color;
		background-color: $hover-color;
	}
}

.header {
	@media screen and (max-width: 1024px) {
		padding: 0.5rem;

		.nav-items {
			align-items: center;
			flex-flow: column wrap;
			justify-content: center;
			align-items: center;
			height: 100vh;

			&:hover {
				border: none;
			}
		}

		.nav {
			display: none;
		}

		.logo-wrapper {
			margin: 0;
		}

		.hamburger-menu,
		.register,
		.logo-mobile {
			display: inline-block;
		}

		.hamburger-menu,
		.register {
			position: static;
			padding: 1rem;
			font-size: 1.4rem;
			color: #fff;
		}

		.hamburger-menu span {
			display: block;
			width: 20px;
			border-bottom: 2px solid #fff;

			&:nth-child(even) {
				margin: 5px 0;
			}
		}

		input[id="hamburger-menu"]:checked ~ nav {
			display: inline-block;
			position: fixed;
			z-index: 11;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: rgba($bg-header, 0.8);
		}

		input[id="hamburger-menu"]:checked ~ label i::before {
			content: "\f00d";
			font-size: 1.6rem;
		}

		.nav-items__item {
			margin: 0.5rem 0;
		}

		.logo-wrapper {
			display: none;
		}

		.hamburger-menu {
			position: relative;
			z-index: 12;
		}

		.register {
			display: inline-flex;
		}
	}
}
