.header {
	background: linear-gradient(
			to right,
			rgba($bg-header, 0.95),
			rgba($bg-header, 0.95)
		),
		url(/assets/images/0.5x/Asset-2.png);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

.nav {
	a {
		font-family: $nav-font;
		font-size: 1.1rem;
		font-weight: 700;
		color: #fff;
		padding: 2rem 0;

		&:hover {
			border-top: 5px solid #ffda6b;
			border-bottom: 2px dashed #ffda6b;
			color: #ffda6b;
		}
	}
}

.nav-items {
	justify-content: space-between;

	.logo {
		padding: 6px 0;

		&:hover {
			border: none;
		}
	}
}

.nav-items__item {
	margin: 0 3rem;
}

.hamburger-menu,
.register,
.logo-mobile {
	display: none;
}

@media screen and (max-width: 1024px) {
	.header {
		padding: 0.2rem;
	}

	.nav-items {
		align-items: center;
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;
	}

	.nav {
		display: none;
	}

	.logo-wrapper {
		margin: 0;
	}

	.hamburger-menu,
	.register,
	.logo-mobile {
		display: inline-block;
	}

	.hamburger-menu,
	.register {
		padding: 2rem;
		font-size: 1.4rem;
		color: #fff;
	}

	.hamburger-menu span {
		display: block;
		width: 20px;
		border-bottom: 2px solid #fff;

		&:nth-child(even) {
			margin: 5px 0;
		}
	}

	input[id="hamburger-menu"]:checked ~ nav {
		display: inline-block;
		position: fixed;
		z-index: 11;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba($bg-header, 0.8);
	}

	input[id="hamburger-menu"]:checked ~ label i::before {
		content: "\f00d";
		font-size: 1.6rem;
	}

	.nav-items__item {
		margin: 0.5rem 0;

		&:first-child {
			margin-top: 5rem;
		}
	}

	.logo-wrapper {
		display: none;
	}

	.hamburger-menu {
		position: relative;
		z-index: 12;
	}
}
