/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Overlock:wght@400;700&family=PT+Serif:wght@400;700&family=Rosario:wght@400;500;600;700&family=Satisfy&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  background: none;
}

input,
button,
textarea {
  -webkit-box-shadow: none;
          box-shadow: none;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

html {
  font-size: 16px;
}

body {
  color: #484334;
  line-height: 1.5;
  font-family: 'Rosario', sans-serif;
}

.text-center {
  text-align: center;
}

h1 {
  font-size: 2.6;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  font-size: 1.8rem;
  font-weight: 600;
}

h4 {
  font-size: 1.2rem;
  font-weight: 700;
}

h5 {
  font-size: 1rem;
  font-weight: 700;
}

h6 {
  font-size: 0.75rem;
}

p {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.7;
}

@media all and (max-width: 900px) {
  html {
    font-size: 14px;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.grid-center {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.col-1 {
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

.col-2 {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.col-3 {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.col-4 {
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.col-5 {
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

.col-6 {
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
}

.col-7 {
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
}

.col-8 {
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
}

.col-9 {
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
}

.col-10 {
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
}

.col-11 {
  -ms-grid-columns: (1fr)[11];
      grid-template-columns: repeat(11, 1fr);
}

.col-12 {
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.col-gap {
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 16px;
}

.padding {
  padding: 5rem 0;
}

.img-responsive {
  width: 100%;
}

a {
  text-decoration: none;
  display: inline-block;
}

.text-center {
  text-align: center;
}

.none {
  display: none;
}

.btn {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem 2rem;
  margin-top: 10px;
  color: #484338;
  border: 1px solid #a58251;
}

.header {
  background: -webkit-gradient(linear, left top, right top, from(rgba(126, 132, 70, 0.95)), to(rgba(126, 132, 70, 0.95))), url(/assets/images/0.5x/Asset-2.png);
  background: linear-gradient(to right, rgba(126, 132, 70, 0.95), rgba(126, 132, 70, 0.95)), url(/assets/images/0.5x/Asset-2.png);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.nav a {
  font-family: "Overlock", cursive;
  font-size: 1.1rem;
  font-weight: 700;
  color: #fff;
  padding: 2.1rem 2rem;
}

.nav a:hover {
  border-top: 5px solid #ffda6b;
  border-bottom: 2px dashed #ffda6b;
  color: #ffda6b;
}

.nav-items {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-items .logo {
  padding: 6px 0;
}

.nav-items .logo:hover {
  border: none;
}

.hamburger-menu,
.logo-mobile {
  display: none;
}

.register {
  position: absolute;
  top: 25px;
  right: 1rem;
  color: #fff;
  font-size: 1.5rem;
  width: 40px;
  height: 40px;
  background-color: #7e8446;
  border: 1px solid #d7d8a1;
  border-radius: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.register:hover {
  color: #484334;
  background-color: #ffda6b;
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 0.2rem;
  }
  .nav-items {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .nav-items:hover {
    border: none;
  }
  .nav {
    display: none;
  }
  .logo-wrapper {
    margin: 0;
  }
  .hamburger-menu,
  .register,
  .logo-mobile {
    display: inline-block;
  }
  .hamburger-menu,
  .register {
    position: static;
    padding: 1rem;
    font-size: 1.4rem;
    color: #fff;
  }
  .hamburger-menu span {
    display: block;
    width: 20px;
    border-bottom: 2px solid #fff;
  }
  .hamburger-menu span:nth-child(even) {
    margin: 5px 0;
  }
  input[id="hamburger-menu"]:checked ~ nav {
    display: inline-block;
    position: fixed;
    z-index: 11;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(126, 132, 70, 0.8);
  }
  input[id="hamburger-menu"]:checked ~ label i::before {
    content: "\f00d";
    font-size: 1.6rem;
  }
  .nav-items__item {
    margin: 0.5rem 0;
  }
  .logo-wrapper {
    display: none;
  }
  .hamburger-menu {
    position: relative;
    z-index: 12;
  }
  .register {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}
/*# sourceMappingURL=main.css.map */