/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Overlock:wght@400;700&family=PT+Serif:wght@400;700&family=Rosario:wght@400;500;600;700&family=Satisfy&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::after, *::before {
  box-sizing: border-box;
  outline: none; }

a {
  text-decoration: none; }

button {
  border: 0;
  background: none; }

input,
button,
textarea {
  box-shadow: none; }

img {
  object-fit: cover; }

html {
  font-size: 16px; }

body {
  color: #484334;
  line-height: 1.5;
  font-family: 'Rosario', sans-serif; }

.text-center {
  text-align: center; }

h1 {
  font-size: 2.6;
  font-weight: 700; }

h2 {
  font-size: 2rem;
  font-weight: 700; }

h3 {
  font-size: 1.8rem;
  font-weight: 600; }

h4 {
  font-size: 1.2rem;
  font-weight: 700; }

h5 {
  font-size: 1rem;
  font-weight: 700; }

h6 {
  font-size: 0.75rem; }

p {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.7; }

@media all and (max-width: 900px) {
  html {
    font-size: 14px; } }
.flex {
  display: flex; }

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.flex-start {
  display: flex;
  justify-content: start;
  align-items: center; }

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.grid {
  display: grid; }

.grid-center {
  justify-self: center;
  align-self: center; }

.col-1 {
  grid-template-columns: repeat(1, 1fr); }

.col-2 {
  grid-template-columns: repeat(2, 1fr); }

.col-3 {
  grid-template-columns: repeat(3, 1fr); }

.col-4 {
  grid-template-columns: repeat(4, 1fr); }

.col-5 {
  grid-template-columns: repeat(5, 1fr); }

.col-6 {
  grid-template-columns: repeat(6, 1fr); }

.col-7 {
  grid-template-columns: repeat(7, 1fr); }

.col-8 {
  grid-template-columns: repeat(8, 1fr); }

.col-9 {
  grid-template-columns: repeat(9, 1fr); }

.col-10 {
  grid-template-columns: repeat(10, 1fr); }

.col-11 {
  grid-template-columns: repeat(11, 1fr); }

.col-12 {
  grid-template-columns: repeat(12, 1fr); }

.col-gap {
  column-gap: 2rem; }

*,
*::before,
*::after {
  box-sizing: border-box; }

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 16px; }

.padding {
  padding: 5rem 0; }

.img-responsive {
  width: 100%; }

a {
  text-decoration: none;
  display: inline-block; }

.text-center {
  text-align: center; }

.none {
  display: none; }

.btn {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem 2rem;
  margin-top: 10px;
  color: #484338;
  border: 1px solid #a58251; }

.blog_image {
  width: 100%; }

.blog_crop {
  height: 30rem;
  width: 100%;
  object-fit: cover; }

.blog_crop2 {
  height: 20rem;
  width: 100%;
  object-fit: cover; }

.blog_pad_2 {
  margin: 2rem; }

.blog_right {
  justify-self: end; }

.blog_left {
  justify-self: start; }

.blog_width_90 {
  width: 90%; }

.blog_page_header_height {
  height: 10rem;
  background-color: #d4aaaa; }

.blog_col_gap_ {
  column-gap: 3rem; }

.blog_bg_odd {
  background-color: #f5f0e3; }

.blog_bg_color,
.blog_bg_even {
  background-color: #f2e9d2; }

.blog_bg_white {
  background-color: white;
  transition: 1s; }

.blog_bg_white:hover {
  background-color: #ffda6b; }

.blog_txt_container {
  position: relative;
  text-align: center;
  color: white;
  font-size: 1rem; }

.blog_img_txt {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: rgba(44, 44, 44, 0.7);
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem; }

.blog_p {
  font-size: 1rem;
  line-height: 1.7;
  color: #524c3b;
  margin-top: 2rem;
  font-weight: 100; }

.blog_readmore {
  color: #7e8446;
  margin-bottom: 2rem;
  margin-top: 1rem; }

.blog_readmore:hover {
  color: #484334; }

.blog_txt_justify {
  text-align: justify;
  text-justify: inter-word; }

.blog_container {
  margin: 0 auto; }

.blog_margin_top {
  margin-top: 5rem; }

.blog_parallax {
  background-image: url("../images/Blog/banner.webp");
  min-height: 15rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.blog_h1 {
  font-size: 3rem;
  font-weight: 700;
  color: white;
  margin-left: 6rem;
  margin-top: 5rem;
  letter-spacing: .2rem; }

.blog_zoom {
  overflow: hidden; }

.blog_zoom img {
  transform-origin: 50% 65%;
  transition: transform 3s, filter 3s ease-in-out;
  filter: brightness(100%); }

.blog_zoom:hover img {
  filter: brightness(125%);
  transform: scale(1.5); }

.blog_box_border {
  border: 1px solid rgba(72, 67, 52, 0.2); }

.blog_box_border:hover {
  border: 1px solid rgba(72, 67, 52, 0.6); }

.pagination {
  display: inline-block; }

.pagination a {
  color: #484334;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid rgba(72, 67, 52, 0.3);
  margin: 3rem 4px; }

.pagination a.active {
  background-color: #7e8446;
  color: white;
  border: 1px solid rgba(72, 67, 52, 0.6); }

.pagination a:hover:not(.active) {
  background-color: #ffda6b; }

@media screen and (max-width: 767px) {
  .blog_col-1 {
    grid-template-columns: repeat(1, 1fr); }

  .blog_col-2 {
    grid-template-columns: repeat(1, 1fr); }

  .blog_col-3 {
    grid-template-columns: repeat(1, 1fr); }

  .blog_crop {
    height: 20rem; }

  .blog_crop2 {
    height: 20rem; }

  .blog_pad_2 {
    padding: .5rem; }

  .mob_mar_top {
    margin-top: 3rem; }

  .blog_margin_top {
    margin-top: 0rem; }

  .blog_bg_even {
    background-color: #f5f0e3; }

  .blog_parallax {
    min-height: 10rem; }

  .blog_h1 {
    font-size: 3rem;
    font-weight: 700;
    color: white;
    margin-left: 2rem;
    margin-top: 3rem;
    letter-spacing: .2rem; }

  .blog_width_90 {
    width: 100%; } }
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .blog_col-1 {
    grid-template-columns: repeat(1, 1fr); }

  .blog_col-2 {
    grid-template-columns: repeat(1, 1fr); }

  .blog_col-3 {
    grid-template-columns: repeat(1, 1fr); }

  .blog_crop {
    height: 33rem; }

  .blog_crop2 {
    height: 33rem; }

  .blog_pad_2 {
    padding: .5rem; }

  .mob_mar_top {
    margin-top: 3rem; }

  .blog_margin_top {
    margin-top: 0rem; }

  .blog_bg_even {
    background-color: #f5f0e3; } }
.course_txt_container {
  position: relative;
  text-align: center;
  color: white;
  font-size: 1rem;
  letter-spacing: .1rem;
  text-transform: uppercase; }

.course_img_txt {
  position: absolute;
  top: 26rem;
  right: 0rem;
  background-color: rgba(72, 67, 52, 0.5);
  padding: 0 auto;
  padding-top: .5rem;
  width: 100%;
  height: 3rem; }

.course_image {
  width: 100%; }

.course_crop {
  height: 30rem;
  width: 100%;
  object-fit: cover; }

.course_img_border {
  border: 1px solid rgba(72, 67, 52, 0.3);
  border-radius: 0.5rem; }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }

.course_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30rem; }

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 30rem;
  perspective: 1000px; }
  .flip-card .inner {
    position: relative;
    width: 100%;
    height: 30rem;
    transition: transform 0.8s;
    transform-style: preserve-3d; }
    .flip-card .inner .front,
    .flip-card .inner .back {
      position: absolute;
      width: 100%;
      height: 30rem;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      align-items: center;
      justify-content: center; }
    .flip-card .inner .back {
      background-color: #ffda6b;
      color: #484334;
      transform: rotateY(180deg);
      border: 1px solid rgba(72, 67, 52, 0.3);
      border-radius: 0.5rem; }
  .flip-card:hover .inner {
    transform: rotateY(180deg); }

.course_margin_top {
  margin-top: 3rem;
  color: #7e8446; }

.course_margin_top2 {
  margin-top: 2rem; }

.course_margin_top1 {
  margin-top: 1rem; }

.course_btn {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem 2rem;
  margin-top: 10px;
  color: white;
  background-color: #7e8446;
  border: 1px solid #a58251;
  margin-top: 2rem; }

.course_btn:hover {
  color: #484334;
  background-color: #ffda6b; }

.course_parallax {
  background-image: url("../images/Blog/course.jpeg");
  min-height: 15rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.course_bg_odd {
  background-color: #f5f0e3; }

.course_bg_color,
.course_bg_even {
  background-color: #f2e9d2; }

.product_image {
  width: 100%; }

.product_crop {
  height: 32rem;
  width: 100%;
  object-fit: cover; }

.product_image2 {
  width: 10rem; }

.product_crop2 {
  height: 10rem;
  width: 10rem;
  object-fit: cover; }

.product_txt_container {
  position: relative;
  text-align: center;
  color: #7e8446;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0rem; }

.product_img_txt {
  position: absolute;
  top: .75rem;
  left: .75rem;
  background-color: #ffda6b;
  padding: 0 auto;
  padding-top: 2rem;
  width: 7rem;
  height: 7rem;
  border-radius: 50%; }

.product_txt_green {
  color: #7e8446; }

.product_txt_txt {
  color: #484334; }

.product_txt_red {
  color: red; }

.product_btn {
  font-size: 1.3rem;
  background-color: #7e8446;
  padding: .3rem 1rem;
  border-radius: 2rem;
  color: whitesmoke; }

.product_mar_top {
  margin-top: 2rem; }

.product_mar_top1 {
  margin-top: .6rem; }

.product_pad_top {
  padding-top: 3rem; }

.product_pad_bottom {
  padding-bottom: 3rem; }

.product_mar_top3 {
  margin-top: 2.7rem; }

.product_circle {
  width: 2rem;
  height: 2rem;
  border-radius: 50%; }

.product_green {
  background-color: green; }

.product_blue {
  background-color: blue; }

.product_red {
  background-color: red; }

.product_gray {
  background-color: gray; }

.product_marl_2 {
  margin-left: 2rem; }

.product_inline_block {
  display: inline-block; }

.product_input {
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem 2rem;
  margin-top: 10px;
  color: #484338;
  border: 1px solid #a58251; }

.hover:hover {
  color: #7e8446; }

@media screen and (max-width: 767px) {
  .product_crop {
    height: 15rem;
    width: 100vw; }

  .product_crop2 {
    height: 5rem;
    width: 5rem; }

  .blog_pad_2 {
    padding: .5rem; }

  .mob_mar_top {
    margin-top: 3rem; }

  .blog_margin_top {
    margin-top: 0rem; }

  .blog_bg_even {
    background-color: #f5f0e3; }

  .blog_parallax {
    min-height: 10rem; }

  .blog_h1 {
    font-size: 3rem;
    font-weight: 700;
    color: white;
    margin-left: 2rem;
    margin-top: 3rem;
    letter-spacing: .2rem; }

  .blog_width_90 {
    width: 100%; }

  nav {
    display: none; } }
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .blog_col-1 {
    grid-template-columns: repeat(1, 1fr); }

  .blog_col-2 {
    grid-template-columns: repeat(1, 1fr); }

  .blog_col-3 {
    grid-template-columns: repeat(1, 1fr); }

  .blog_crop {
    height: 33rem; }

  .blog_crop2 {
    height: 33rem; }

  .blog_pad_2 {
    padding: .5rem; }

  .mob_mar_top {
    margin-top: 3rem; }

  .blog_margin_top {
    margin-top: 0rem; }

  .blog_bg_even {
    background-color: #f5f0e3; } }

/*# sourceMappingURL=main.css.map */
